/*生育收养*/
.i_01FF4C16572DFEE99680B7D0FA11C685 {
    background: url('images/icon_sb01.png') no-repeat -1px -2px;
    width: 35px;
    height: 44px;
}
/*户籍*/
.i_02FF4C26572DFEE99680B7D0FA12C685 {
    background: url('images/icon_sb01.png') no-repeat -67px 0;
    width: 34px;
    height: 46px;
}

/*教育*/
.i_03FF4C36572DFEE99680B7D0FA13C685 {
    background: url('images/icon_sb01.png') no-repeat -133px -7px;
    width: 47px;
    height: 33px;
}

/*就业*/
.i_04FF4C46572DFEE99680B7D0FA14C685 {
    background: url('images/icon_sb01.png') no-repeat -201px -2px;
    width: 40px;
    height: 35px;
}

/*婚姻*/
.i_05FF4C56572DFEE99680B7D0FA15C685 {
    background: url('images/icon_sb01.png') no-repeat -265px -1px;
    width: 40px;
    height: 39px;
}

/*住房*/
.i_06FF4C66572DFEE99680B7D0FA16C685 {
    background: url('images/icon_sb01.png') no-repeat -334px -2px;
    width: 40px;
    height: 35px;
}

/*医疗卫生*/
.i_07FF4C76572DFEE99680B7D0FA17C685 {
    background: url('images/icon_sb01.png') no-repeat 0 -66px;
    width: 40px;
    height: 38px;
}

/*社保救助*/
.i_08FF4C86572DFEE99680B7D0FA18C685 {
    background: url('images/icon_sb01.png') no-repeat -64px -66px;
    width: 40px;
    height: 38px;
}

/*交通*/
.i_09FF4C96572DFEE99680B7D0FA19C685 {
    background: url('images/icon_sb01.png') no-repeat -143px -66px;
    width: 32px;
    height: 38px;
}

/*旅游*/
.i_10FF4C16572DFEE99680B7D0FA11C685 {
    background: url('images/icon_sb01.png') no-repeat -205px -64px;
    width: 33px;
    height: 40px;
}

/*出入境*/
.i_11FF4C26572DFEE99680B7D0FA12C685 {
    background: url('images/icon_sb01.png') no-repeat -266px -64px;
    width: 40px;
    height: 40px;
}

/*纳税缴费*/
.i_12FF4C36572DFEE99680B7D0FA13C685 {
    background: url('images/icon_sb01.png') no-repeat -342px -63px;
    width: 25px;
    height: 40px;
}

/*职业资格*/
.i_13FF4C46572DFEE99680B7D0FA14C685 {
    background: url('images/icon_sb01.png') no-repeat -1px -126px;
    width: 40px;
    height: 35px;
}

/*证件办理*/
.i_14FF4C56572DFEE99680B7D0FA15C685 {
    background: url('images/icon_sb01.png') no-repeat -65px -128px;
    width: 43px;
    height: 33px;
}

/*知识产权*/
.i_15FF4C66572DFEE99680B7D0FA16C685 {
    background: url('images/icon_sb01.png') no-repeat -139px -124px;
    width: 40px;
    height: 40px;
}

/*消费维权*/
.i_16FF4C76572DFEE99680B7D0FA17C685 {
    background: url('images/icon_sb01.png') no-repeat -202px -123px;
    width: 38px;
    height: 42px;
}

/*司法公证*/
.i_17FF4C86572DFEE99680B7D0FA18C685 {
    background: url('images/icon_sb01.png') no-repeat -266px -125px;
    width: 42px;
    height: 39px;
}

/*民族宗教*/
.i_18FF4C96572DFEE99680B7D0FA19C685 {
    background: url('images/icon_sb01.png') no-repeat -339px -123px;
    width: 30px;
    height: 40px;
}


/*文化体育*/
.i_19FF4C16572DFEE99680B7D0FA11C685 {
    background: url('images/icon_sb01.png') no-repeat -339px -123px;
    width: 30px;
    height: 40px;
}

/*邮政通讯*/
.i_20FF4C26572DFEE99680B7D0FA12C685 {
    background: url('images/icon_sb01.png') no-repeat -339px -123px;
    width: 30px;
    height: 40px;
}

/*水电煤气*/
.i_21FF4C36572DFEE99680B7D0FA13C685 {
    background: url('images/icon_sb01.png') no-repeat -339px -123px;
    width: 30px;
    height: 40px;
}

/*环境气象*/
.i_22FF4C46572DFEE99680B7D0FA14C685 {
    background: url('images/icon_sb01.png') no-repeat -339px -123px;
    width: 30px;
    height: 40px;
}

/*兵役*/
.i_23FF4C56572DFEE99680B7D0FA15C685 {
    background: url('images/icon_sb01.png') no-repeat -339px -123px;
    width: 30px;
    height: 40px;
}

/*公安*/
.i_24FF4C66572DFEE99680B7D0FA16C685 {
    background: url('images/icon_sb01.png') no-repeat -339px -123px;
    width: 30px;
    height: 40px;
}

/*退休*/
.i_25FF4C76572DFEE99680B7D0FA17C685 {
    background: url('images/icon_sb01.png') no-repeat -339px -123px;
    width: 30px;
    height: 40px;
}

/*死亡殡葬*/
.i_26FF4C86572DFEE99680B7D0FA18C685 {
    background: url('images/icon_sb01.png') no-repeat -339px -123px;
    width: 30px;
    height: 40px;
}

/*其他*/
.i_27FF4C96572DFEE99680B7D0FA19C685 {
    background: url('images/icon_sb01.png') no-repeat -339px -123px;
    width: 30px;
    height: 40px;
}


/*设立变更*/
.i_01A4124110629D0565694035DF0B3011 {
    background: url('images/icon_sb01.png') no-repeat -2px -318px;
    width: 40px;
    height: 40px;
}


/*准营准办*/
.i_02A4124110629D0565694035DF0B3022 {
    background: url('images/icon_sb01.png') no-repeat -2px -318px;
    width: 40px;
    height: 40px;
}
/*投资审批*/
.i_03A4124110629D0565694035DF0B3033 {
    background: url('images/icon_sb01.png') no-repeat -2px -318px;
    width: 40px;
    height: 40px;
}

/*资质认证*/
.i_04A4124110629D0565694035DF0B3044 {
    background: url('images/icon_sb01.png') no-repeat -2px -318px;
    width: 40px;
    height: 40px;
}

/*年检年报*/
.i_05A4124110629D0565694035DF0B3055 {
    background: url('images/icon_sb01.png') no-repeat -2px -318px;
    width: 40px;
    height: 40px;
}

/*人力社保*/
.i_06A4124110629D0565694035DF0B3066 {
    background: url('images/icon_sb01.png') no-repeat -341px -316px;
    width: 34px;
    height: 40px;
}

/*医疗卫生*/
.i_07A4124110629D0565694035DF0B3077 {
    background: url('images/icon_sb01.png') no-repeat -8px -393px;
    width: 40px;
    height: 38px;
}

/*教育科技*/
.i_08A4124110629D0565694035DF0B3088 {
    background: url('images/icon_sb01.png') no-repeat -72px -392px;
    width: 47px;
    height: 40px;
}

/*文化体育*/
.i_09A4124110629D0565694035DF0B3099 {
    background: url('images/icon_sb01.png') no-repeat -138px -394px;
    width: 38px;
    height: 38px;
}

/*新闻广电*/
.i_10A4124110629D0565694035DF0B3100 {
    background: url('images/icon_sb01.png') no-repeat -194px -392px;
    width: 53px;
    height: 40px;
}

/*文物保护*/
.i_11A4124110629D0565694035DF0B3111 {
    background: url('images/icon_sb01.png') no-repeat -268px -392px;
    width: 38px;
    height: 37px;
}

/*交通运输*/
.i_12A4124110629D0565694035DF0B3122 {
    background: url('images/icon_sb01.png') no-repeat -341px -391px;
    width: 33px;
    height: 40px;
}

/*环保绿化*/
.i_13A4124110629D0565694035DF0B3133 {
    background: url('images/icon_sb01.png') no-repeat -8px -461px;
    width: 40px;
    height: 37px;
}

/*国土建设*/
.i_14A4124110629D0565694035DF0B3144 {
    background: url('images/icon_sb01.png') no-repeat -74px -460px;
    width: 40px;
    height: 40px;
}

/*工业经济*/
.i_15A4124110629D0565694035DF0B3155 {
    background: url('images/icon_sb01.png') no-repeat -138px -458px;
    width: 47px;
    height: 40px;
}

/*信息产业*/
.i_16A4124110629D0565694035DF0B3166 {
    background: url('images/icon_sb01.png') no-repeat -204px -458px;
    width: 40px;
    height: 40px;
}

/*商务贸易*/
.i_17A4124110629D0565694035DF0B3177 {
    background: url('images/icon_sb01.png') no-repeat -272px -458px;
    width: 40px;
    height: 40px;
}

/*招标采购*/
.i_18A4124110629D0565694035DF0B3188 {
    background: url('images/icon_sb01.png') no-repeat -340px -459px;
    width: 40px;
    height: 39px;
}

/*知识产权*/
.i_19A4124110629D0565694035DF0B3199 {
    background: url('images/icon_sb01.png') no-repeat -9px -521px;
    width: 40px;
    height: 40px;
}

/*税收财务*/
.i_20A4124110629D0565694035DF0B3200 {
    background: url('images/icon_sb01.png') no-repeat -84px -521px;
    width: 25px;
    height: 40px;
}

/*融资信贷*/
.i_21A4124110629D0565694035DF0B3211 {
    background: url('images/icon_sb01.png') no-repeat -139px -521px;
    width: 47px;
    height: 40px;
}

/*安全防护*/
.i_22A4124110629D0565694035DF0B3222 {
    background: url('images/icon_sb01.png') no-repeat -202px -522px;
    width: 48px;
    height: 34px;
}

/*质量检测*/
.i_23A4124110629D0565694035DF0B3233 {
   background: url('images/icon_sb01.png') no-repeat -275px -519px;
    width: 39px;
    height: 40px;
}

/*检验检疫*/
.i_24A4124110629D0565694035DF0B3244 {
    background: url('images/icon_sb01.png') no-repeat -341px -520px;
    width: 40px;
    height: 40px;
}

/*公安消防*/
.i_25A4124110629D0565694035DF0B3255 {
    background: url('images/icon_sb01.png') no-repeat -12px -583px;
    width: 36px;
    height: 40px;
}

/*司法公正*/
.i_26A4124110629D0565694035DF0B3266 {
    background: url('images/icon_sb01.png') no-repeat -76px -583px;
    width: 42px;
    height: 39px;
}

/*海关口岸*/
.i_27A4124110629D0565694035DF0B3277 {
    background: url('images/icon_sb01.png') no-repeat -139px -581px;
    width: 43px;
    height: 40px;
}

/*对外交流*/
.i_28A4124110629D0565694035DF0B3288 {
    background: url('images/icon_sb01.png') no-repeat -206px -582px;
    width: 40px;
    height: 38px;
}

/*民族宗教*/
.i_29A4124110629D0565694035DF0B3299 {
    background: url('images/icon_sb01.png') no-repeat -280px -582px;
    width: 30px;
    height: 40px;
}

/*农林牧渔*/
.i_30A4124110629D0565694035DF0B3300 {
    background: url('images/icon_sb01.png') no-repeat -338px -585px;
    width: 45px;
    height: 36px;
}

/*水利水务*/
.i_31A4124110629D0565694035DF0B3311 {
    background: url('images/icon_sb01.png') no-repeat -8px -643px;
    width: 40px;
    height: 40px;
}

/*破产注销*/
.i_32A4124110629D0565694035DF0B3322 {
    background: url('images/icon_sb01.png') no-repeat -84px -642px;
    width: 27px;
    height: 40px;
}

/*其他*/
.i_33A4124110629D0565694035DF0B3333 {
    background: url('images/icon_sb01.png') no-repeat -139px -642px;
    width: 40px;
    height: 40px;
}

































