@charset "utf-8";
$color-main:#85a;

*{
  box-sizing: border-box;
}
body,h1,h2,h3,h4,h5,h6,p,ol,ul{ margin: 0;}
ol,ul{  padding: 0;}
ol,ul{  list-style: none;}
a{  text-decoration: none;}
em{  font-style:normal;}
table{  border-collapse:collapse;  border-spacing:0;}
.clearfix:after{
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
  clear: both;
}
// the above is reset css
html,body{

}
.main-wrap{

}
.main-wrap-l,.main-wrap-r{
  height: 100%;
  background-color: $color-main;
  color: #000;
}